body {
    margin: 0px;
    padding: 0px;
    color: black;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}

.hero {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 4px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0px;
    margin: 0px;
}

.hero-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hero-info {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 16px;
    width: 25vw;
    height:25vh;
}

.info-item1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 800;
    display: flex;
}

.info-item2 {
    color: #e5e7eb;
    font-size: 18px;
    display: flex;
}

.signup-button {
    display: flex;
    width: 7vw;
    border-radius: 7px;
    background-color: #3882f6;
    color: #f9faf8;
    justify-content: center;
    font-weight: 700;
    padding: 4px;
}

.hero-image {
    color: #f9faf8;  /*remove this color later*/
    display: flex;
    height: 25vh;
    width: 25vw;
    padding: 16px;
}

.header-left-logo {
    display: flex;
}

.header-right-links {
    display: flex;
}

.logo {
    font-size: 24px;
    font-weight: 900;
    color: #F9FAF8;
    padding: 4px 32px;
  }
  
  ul {
    color: white;
    list-style-type: none;
    display: flex;
  }
  
  a {
    font-size: 18px;
    color: #e5e7eb;
    padding: 8px;
    text-decoration: none;
  }