body {
    margin: 0px;
    padding: 0px;
    color: black;
}

.hero {
    background-color: #1f2937;
    padding: 0px;
    margin: 0px;
    font-size: 48px;
    font-weight: 800;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    background-color: #1f2937;
    padding: 0px;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.hero-header {
    display: flex;
    justify-content: space-around;
}

.hero-info {
    display: flex;
}

.hero-image {
    display: flex;
}

.header-left-logo {
    display: flex;
}

.header-right-links {
    display: flex;
}

.logo {
    font-size: 24px;
    font-weight: 900;
    color: #f9faf8;
    padding: 4px 32px;
  }
  
  ul {
    color: white;
    list-style-type: none;
    display: flex;
  }
  
  a {
    font-size: 18px;
    color: #e5e7eb;
    padding: 8px;
    text-decoration: none;
  }